# ROS2 colcon build artifacts
build/
install/
log/

# Data directory
data/**/*.db3
data/**/*.mcap
data/**/*.bag
data/**/metadata.yaml
data/stereo_images*
!data/.gitkeep
data/dataset/


# Output direcoty
output/*
!output/.gitkeep

# Python stuff
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
*.egg

