[submodule "submodules/NeuROAM"]
	path = submodules/NeuROAM
	url = git@github.com:neufieldrobotics/NeuROAM.git
[submodule "submodules/fast_LIMO"]
	path = submodules/fast_LIMO
	url = git@github.com:aaronpan-eng/fast_LIMO.git
	branch = ros2-humble
[submodule "submodules/pycuvslam"]
	path = submodules/pycuvslam
	url = git@github.com:NVlabs/PyCuVSLAM.git
[submodule "submodules/droid-slam"]
	path = submodules/droid-slam
	url = git@github.com:princeton-vl/DROID-SLAM.git
[submodule "submodules/orb_slam3"]
	path = submodules/orb_slam3
	url = git@github.com:UZ-SLAMLab/ORB_SLAM3.git
[submodule "submodules/NeuStereo"]
	path = submodules/NeuStereo
	url = git@github.com:aniket-gupta1/NeuStereo.git
[submodule "submodules/vimbax_ros2_driver"]
	path = submodules/vimbax_ros2_driver
	url = git@github.com:alliedvision/vimbax_ros2_driver.git
	branch = humble
