name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'docker/Dockerfile'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        docker build ./docker/ -t cuvslam-ros2:latest
        
