name: Docker Image CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'docker/Dockerfile'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo with submodules
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        
    - name: Build the Docker image
      run: |
        docker build ./submodules/pycuvslam/docker/Dockerfile.realsense-x86 -t pycuvslam:realsense-x86
        docker build ./docker/ -t cuvslam-ros2:latest
        
