name: ROS2 build check

on:
  push:
    branches: ["main"]
    paths:
      - 'src/**'
  pull_request:
    branches: ["main"]
    paths:
      - 'src/**'
  
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Pull fastLIMO submodule
      run: |
        git submodule update --init submodules/fast_LIMO

    - name: Setup ROS2 environment
      uses: ros-tooling/setup-ros@v0.7
      with:
        required-ros-distributions: humble
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-colcon-common-extensions
        
    - name: Install rosdep dependencies
      run: |
        sudo rosdep init || true
        rosdep update
        rosdep install --from-paths src --ignore-src -r -y
    
    - name: Build workspace
      run: |
        source /opt/ros/humble/setup.bash
        colcon build --symlink-install
        
      
